.p-3.mb-3.bg-light.rounded
  %h5 Assume that
  %ul.container-fluid
    %li All API results are returned with an exact format.
    %li All dimensions are provided in centimetres.
    %li All weights are provided in grams.
%footer.border-top
  .row
    .col-md-12
      %small.d-block.mt-3.mb-3.text-muted= "#{Time.current.year} - Implemented by Quintin XU."
        