%nav.navbar.navbar-expand-lg.navbar-light.bg-light.rounded
  = link_to root_path, class: 'navbar-brand' do
    = image_tag "kogan", width: "40%"
  .collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item{class: ('active' if controller_name == 'api_calculations')}
        %a.nav-link{:href => root_path}
          Home
          %span.sr-only (current)
      %li.nav-item{class: ('active' if controller_name == 'products')}
        %a.nav-link{:href => "/products"} Products
      %li.nav-item{class: ('active' if controller_name == 'api_request_logs')}
        %a.nav-link{:href => "/logs"} Logs
